html {
  scroll-behavior: smooth;
}

body {
  color: rgb(201, 207, 216);
  background-color: rgb(20, 20, 20);
}

main {
  margin: 3% 2% 0 2%;
  background-color: #1f2c3e;
}

footer {
  text-align: center;
  padding: 2% 0;
}

.container {
  width: 100%;
  padding: 5%;
}

section {
  margin-top: 5%;
  margin-bottom: 15%;
}

.nav-items {
  display: flex;
  padding-top: 0.5em;
  justify-content: space-between;
}

.nav-item {
  margin: 2em 0;
}

h1, h2, h3, h4 {
  font-family: 'Acumin Pro', 'sans-serif';
  font-weight: 700;
  color: #c7893e;
}

h4 {
  color: rgb(201, 207, 216);
}

h1 {
  font-size: 4em;
}

p {
  font-family: 'Acumin Pro', serif;
  font-size: 16px;
}

img {
  height: 10em;

}

#me {
  height: 60%;
  width: 100%;
  margin: 10% 0;
}

#links {
  border: 3px rgb(201, 207, 216) solid;
  height: 40%;
  text-align: center;
  padding: 5%;
}

#links a {
  margin:  13%;
  color: rgb(226, 232, 240);
  font-size: x-large;
}

#links a:hover {
  color: #c7893e;
}

#skills i {
  margin: 5%;
  color: rgb(226, 232, 240);
  font-size: x-large;
}

#skills i:hover {
  color: #c7893e;
}

.project {
  display: flex;
  margin-top: 6%;
  margin-bottom: 10%;
  border: rgb(201, 207, 216) solid 2px;
  padding: 2%;
  justify-content: space-between;
}

.project-details {
  padding: 0 5%;
}