html {
  scroll-behavior: smooth;
}

body {
  color: rgb(201, 207, 216);
  background-color: rgb(20, 20, 20);
}

main {
  margin: 3% 2% 0 2%;
  background-color: #1f2c3e;
}

footer {
  text-align: center;
  padding: 1% 0;
}

.container {
  width: 100%;
  padding: 6%;
  padding-bottom: 3%;
}

section {
  margin-top: 5%;
  margin-bottom: 10%;
}

h1, h2, h3, h4 {
  font-family: 'Acumin Pro', 'sans-serif';
  font-weight: 700;
  color: #c7893e;
}

h4 {
  color: rgb(201, 207, 216);
}

h1 {
  font-size: 4em;
}

p {
  font-family: 'Acumin Pro', serif;
  font-size: 16px;
}

#me {
  height: 50%;
  width: 100%;
  margin: 10% 0;
}

#links {
  border: 3px rgb(201, 207, 216) solid;
  height: 30%;
  text-align: center;
  padding: 15% 5%;
  margin-top: 5%;
  margin-bottom: 6%;
}

#links a {
  margin:  5%;
  color: rgb(226, 232, 240);
  font-size: x-large;
}

#links a:hover {
  color: #c7893e;
}

#skills i {
  margin: 5%;
  color: rgb(226, 232, 240);
  font-size: x-large;
}

.project {
  display: flex;
  margin-top: 5%;
  margin-bottom: 6%;
  border: rgb(201, 207, 216) solid 2px;
  justify-content: space-between;
  height: 225px;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.project img {
  height: 85%;
  width: auto;
  object-fit: cover;
}

.project-details {
  padding: 1%;
  flex: 1;
}